.app__container {
  display: flex;
  width: 100%;
}

.app__login-wrapper {
  width: 300px;
}

@media (min-width: 768px) {
  .app__container {
    width: 700px;
  }
}

@media (min-width: 1024px) {
  .app__container {
    width: 950px;
  }
}
