.login {
  position: relative;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 15px;
  box-shadow: -1px 1px 5px #d1d1d1;
}

.login__avatar {
  position: absolute;
  top: -50px;
}

.login__form {
  margin-top: 55px;
}
