.login {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  box-shadow: -1px 1px 5px #d1d1d1;
}

.login__avatar {
  margin: 5px 0 25px;
}
